/** This is a comment that the browser will ignore,
* Put your CSS code into this file
*/

body {
    background-color: powderblue;
    font-size: 12mm;
  }

h1 {
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

h2 {
  color: sandybrown;
  font-family: serif;
}

ul {
    color: red;
    font-family: monospace;
    font-size: 10mm;
}